node-red/.flows.json.backup
[
    {
        "id": "a0ced4ca32ce1212",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8485ee6a4fe79d0",
        "type": "tab",
        "label": "Light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "405a4e89bc469be2",
        "type": "ui_group",
        "name": "Basic",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "115412912ad670f3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1b6a16",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#1b6a16",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#2ba923",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "K4Eden Control",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b36e378c8fc61d15",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94dec1ee8da68794",
        "type": "ui_group",
        "name": "Light Schedule",
        "tab": "b36e378c8fc61d15",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63b8b55f9cf8cd26",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f4a3c37ac5a7dcc",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ac7f7192b180d51",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "32472092f90ce931",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "6fd5eec2fe8f8854",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9f6e7d9088e1909",
        "type": "ui_spacer",
        "z": "d8485ee6a4fe79d0",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d74f5f016c4800f8",
        "type": "ui_numeric",
        "z": "d8485ee6a4fe79d0",
        "name": "Schedule Time (h)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 6,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}h",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "fba45f824beedc8f",
        "type": "ui_dropdown",
        "z": "d8485ee6a4fe79d0",
        "name": "",
        "label": "Schedule Type",
        "tooltip": "",
        "place": "Light Schedule Type",
        "group": "94dec1ee8da68794",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Vegetative",
                "value": "vegetative",
                "type": "str"
            },
            {
                "label": "Flowering",
                "value": "flowering",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "32d64b577754208b",
        "type": "ui_numeric",
        "z": "d8485ee6a4fe79d0",
        "name": "Schedule Timer (min)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 7,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}min",
        "min": 0,
        "max": "30",
        "step": "30",
        "className": "",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "623368549c30b6c7",
        "type": "ui_text",
        "z": "d8485ee6a4fe79d0",
        "group": "94dec1ee8da68794",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Starting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a04b35084a0e5ed",
        "type": "ui_button",
        "z": "d8485ee6a4fe79d0",
        "name": "\"Start\" Button Light Schedule",
        "group": "94dec1ee8da68794",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f7b0b098035af8a6",
        "type": "function",
        "z": "d8485ee6a4fe79d0",
        "name": "Define Schedule",
        "func": "const payload = msg.payload\n\nnode.log(payload)\n\nconsole.log(payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "5ff34c44f7a2b1c2"
            ]
        ]
    },
    {
        "id": "5ff34c44f7a2b1c2",
        "type": "debug",
        "z": "d8485ee6a4fe79d0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "8209fa1c6254f99d",
        "type": "ui_button",
        "z": "d8485ee6a4fe79d0",
        "name": "\"Stop\" Button Light Schedule",
        "group": "94dec1ee8da68794",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A52A2A",
        "className": "",
        "icon": "",
        "payload": "Test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 300,
        "wires": [
            []
        ]
    }
]