node-red/flows.json
[
    {
        "id": "a0ced4ca32ce1212",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f016af0abc2c717c",
        "type": "subflow",
        "name": "Light Schedule",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "115412912ad670f3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1b6a16",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#1b6a16",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#2ba923",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "K4Eden Control",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b36e378c8fc61d15",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94dec1ee8da68794",
        "type": "ui_group",
        "name": "Light Schedule",
        "tab": "b36e378c8fc61d15",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2b05ae00f1e6cbb",
        "type": "ui_group",
        "name": "Control",
        "tab": "b36e378c8fc61d15",
        "order": 1,
        "disp": false,
        "width": "1",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95ea0e7f0f0a2052",
        "type": "ui_spacer",
        "z": "f016af0abc2c717c",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "aeb60a16d5f039fd",
        "type": "ui_spacer",
        "z": "f016af0abc2c717c",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d0f154b138f10fc",
        "type": "ui_spacer",
        "z": "f016af0abc2c717c",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "329e66789c31f737",
        "type": "ui_spacer",
        "z": "f016af0abc2c717c",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d74f5f016c4800f8",
        "type": "ui_numeric",
        "z": "f016af0abc2c717c",
        "name": "Schedule Time (h)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 6,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}h",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "fba45f824beedc8f",
        "type": "ui_dropdown",
        "z": "f016af0abc2c717c",
        "name": "",
        "label": "Schedule Type",
        "tooltip": "",
        "place": "Light Schedule Type",
        "group": "94dec1ee8da68794",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Vegetative",
                "value": "vegetative",
                "type": "str"
            },
            {
                "label": "Flowering",
                "value": "flowering",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "32d64b577754208b",
        "type": "ui_numeric",
        "z": "f016af0abc2c717c",
        "name": "Schedule Timer (min)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 7,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}min",
        "min": 0,
        "max": "30",
        "step": "30",
        "className": "",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "623368549c30b6c7",
        "type": "ui_text",
        "z": "f016af0abc2c717c",
        "group": "94dec1ee8da68794",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Starting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a04b35084a0e5ed",
        "type": "ui_button",
        "z": "f016af0abc2c717c",
        "name": "\"On\" Button Light Schedule",
        "group": "f2b05ae00f1e6cbb",
        "order": 1,
        "width": 1,
        "height": 2,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "64d8e2ffdf615cb0",
                "c3de897385f44028"
            ]
        ]
    },
    {
        "id": "f7b0b098035af8a6",
        "type": "function",
        "z": "f016af0abc2c717c",
        "name": "Build payload",
        "func": "const payload = msg.payload\n\nnode.log(payload)\n/*\n Create function capable to build a .json with all information together (\"Starting time\" and \"Schedule Type\")\n*/\nconsole.log(payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8209fa1c6254f99d",
        "type": "ui_button",
        "z": "f016af0abc2c717c",
        "name": "\"Off\" Button Light Schedule",
        "group": "f2b05ae00f1e6cbb",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A52A2A",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "64d8e2ffdf615cb0",
                "c3de897385f44028"
            ]
        ]
    },
    {
        "id": "64d8e2ffdf615cb0",
        "type": "change",
        "z": "f016af0abc2c717c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "79cab6a9da6369a1",
        "type": "ui_ui_control",
        "z": "f016af0abc2c717c",
        "name": "",
        "events": "all",
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7e9766cebe3dbc71",
        "type": "ui_text",
        "z": "f016af0abc2c717c",
        "group": "94dec1ee8da68794",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "c3de897385f44028",
        "type": "change",
        "z": "f016af0abc2c717c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8db34fa0d7eb839d",
        "type": "subflow:f016af0abc2c717c",
        "z": "a0ced4ca32ce1212",
        "name": "",
        "x": 520,
        "y": 160,
        "wires": []
    }
]