node-red/flows.json
[
    {
        "id": "a0ced4ca32ce1212",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "972e7779435c0149",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f016af0abc2c717c",
        "type": "subflow",
        "name": "Light Schedule",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "115412912ad670f3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1b6a16",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#1b6a16",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#2ba923",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#1b6a16",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "K4Eden Control",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b36e378c8fc61d15",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94dec1ee8da68794",
        "type": "ui_group",
        "name": "Light Schedule",
        "tab": "b36e378c8fc61d15",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2b05ae00f1e6cbb",
        "type": "ui_group",
        "name": "Control",
        "tab": "b36e378c8fc61d15",
        "order": 1,
        "disp": false,
        "width": "1",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9021ad7504f73711",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "247ef79d5087fa5d",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b3be985f97bc49a",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "04af379207f70e10",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2eef31663b923090",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "95503218b54038a6",
        "type": "ui_spacer",
        "z": "a0ced4ca32ce1212",
        "name": "spacer",
        "group": "94dec1ee8da68794",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "c7b8220e0e9f2ccd",
        "type": "mqtt-broker",
        "name": "MQTT Client on NodeRed.local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "693ee85f.c34638",
        "type": "mqtt-broker",
        "name": "Local broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "techexplorations/esp32/test",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "94c7afb4.27d2f",
        "type": "ui_group",
        "name": "DHT22 readings",
        "tab": "e33ae4c2.84fe78",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "e33ae4c2.84fe78",
        "type": "ui_tab",
        "name": "DHT22",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d74f5f016c4800f8",
        "type": "ui_numeric",
        "z": "f016af0abc2c717c",
        "name": "Schedule Time (h)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 6,
        "width": 2,
        "height": 1,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}h",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "fba45f824beedc8f",
        "type": "ui_dropdown",
        "z": "f016af0abc2c717c",
        "name": "",
        "label": "Schedule Type",
        "tooltip": "",
        "place": "Light Schedule Type",
        "group": "94dec1ee8da68794",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Vegetative",
                "value": "vegetative",
                "type": "str"
            },
            {
                "label": "Flowering",
                "value": "flowering",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "32d64b577754208b",
        "type": "ui_numeric",
        "z": "f016af0abc2c717c",
        "name": "Schedule Timer (min)",
        "label": "",
        "tooltip": "",
        "group": "94dec1ee8da68794",
        "order": 7,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}min",
        "min": 0,
        "max": "30",
        "step": "30",
        "className": "",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "f7b0b098035af8a6"
            ]
        ]
    },
    {
        "id": "623368549c30b6c7",
        "type": "ui_text",
        "z": "f016af0abc2c717c",
        "group": "94dec1ee8da68794",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Starting time",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a04b35084a0e5ed",
        "type": "ui_button",
        "z": "f016af0abc2c717c",
        "name": "\"On\" Button Light Schedule",
        "group": "f2b05ae00f1e6cbb",
        "order": 1,
        "width": 1,
        "height": 2,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "64d8e2ffdf615cb0"
            ]
        ]
    },
    {
        "id": "f7b0b098035af8a6",
        "type": "function",
        "z": "f016af0abc2c717c",
        "name": "Build payload",
        "func": "const payload = msg.payload\n\nnode.log(payload)\n/*\n Create function capable to build a .json with all information together (\"Starting time\" and \"Schedule Type\")\n*/\nconsole.log(payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8209fa1c6254f99d",
        "type": "ui_button",
        "z": "f016af0abc2c717c",
        "name": "\"Off\" Button Light Schedule",
        "group": "f2b05ae00f1e6cbb",
        "order": 2,
        "width": 1,
        "height": 2,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A52A2A",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "64d8e2ffdf615cb0"
            ]
        ]
    },
    {
        "id": "7e9766cebe3dbc71",
        "type": "ui_text",
        "z": "f016af0abc2c717c",
        "group": "94dec1ee8da68794",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "64d8e2ffdf615cb0",
        "type": "change",
        "z": "f016af0abc2c717c",
        "name": "Enable/Disable Light Schedule inputs",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "fba45f824beedc8f",
                "623368549c30b6c7",
                "d74f5f016c4800f8",
                "32d64b577754208b",
                "c097714d59bfbd3b"
            ]
        ],
        "info": "- Light Schedule \"On\": Disable all inputs\n- Light Schedule \"Off\": Enable all inputs to receive new routine"
    },
    {
        "id": "c097714d59bfbd3b",
        "type": "change",
        "z": "f016af0abc2c717c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "7e9766cebe3dbc71"
            ]
        ]
    },
    {
        "id": "8db34fa0d7eb839d",
        "type": "subflow:f016af0abc2c717c",
        "z": "a0ced4ca32ce1212",
        "name": "",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd1f0c9fa97b27c8",
        "type": "mqtt in",
        "z": "a0ced4ca32ce1212",
        "name": "MQTT In",
        "topic": "hydroroot/test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7b8220e0e9f2ccd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "bd0817fba12144b6"
            ]
        ]
    },
    {
        "id": "bd0817fba12144b6",
        "type": "debug",
        "z": "a0ced4ca32ce1212",
        "name": "MQTT message object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f1df12c508183ac",
        "type": "inject",
        "z": "a0ced4ca32ce1212",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "2bd84abe43ede9c4"
            ]
        ]
    },
    {
        "id": "2bd84abe43ede9c4",
        "type": "mqtt out",
        "z": "a0ced4ca32ce1212",
        "name": "MQTT Out",
        "topic": "hydroroot/test",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7b8220e0e9f2ccd",
        "x": 630,
        "y": 500,
        "wires": []
    }
]